<div class="page-header">
  <h3>Track #<%= @track.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @track.address %></dd>

      <dt>Name</dt>
      <dd><%= @track.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tracks" class="btn btn-primary">
        Back
      </a>
      <a href="/tracks/<%= @track.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_track/<%= @track.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
