<div class="page-header">
  <h3>Track: <%= @track.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @track.address %></dd>
      <dt>Insight</dt>
      <dd>Riders at <%= @track.name %> typically use a fork spring that is <%= @spring_comparison %> the one they use at the average track and a shock spring that is <%= @shock_comparison %> the one they use at the average track.</dd>
      <dd>This calculation is based on <%= @global_count.to_i %> total set-ups, including <%= @local_count.to_i %> at <%= @track.name %>.</dd>
      <!-- <dd><%= @average_spring_rate_global %></dd>
      <dd><%= @average_spring_rate_local %></dd> -->
    </dl>




    <div class="btn-group btn-group-justified">
      <a href="/tracks" class="btn btn-primary">
        Back
      </a>
      <a href="/tracks/<%= @track.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_track/<%= @track.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
