<div class="page-header">
  <h1><%= current_user.first_name %>'s set ups<!--
    <a href="/set_ups/new" class="btn btn-lg btn-success">New Set up</a> -->
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Track</th>
        <th>Laptime</th>
        <th>Rider weight</th>
        <th>Bike</th>
        <th>Comment</th>
        <th>Subjective rating</th>
        <th>Conditions</th>
        <th>Track temperature</th>
        <th>Ambient temperature</th>
        <th>Rear tire pressure</th>
        <th>Front tire pressure</th>
        <th>Rear tire</th>
        <th>Front tire</th>
        <th>Steering head angle</th>
        <th>Front suspension preload</th>
        <th>Front suspension compression</th>
        <th>Front suspension damping</th>
        <th>Front suspension spring rate</th>
        <th>Front suspension brand</th>
        <th>Rear suspension preload</th>
        <th>Rear suspension compression</th>
        <th>Rear suspension damping</th>
        <th>Rear suspension spring rate</th>
        <th>Rear suspension static sag</th>
        <th>Rear suspension sag</th>
        <th>Rear suspension brand</th>
        <th>Actions</th>
      </tr>

      <% @comparison_set_up = current_user.set_ups.first %>

      <% current_user.set_ups.each do |set_up| %>
      <tr>

        <% if set_up.track_id == @comparison_set_up.track_id %>
          <td><%= set_up.track.name %></td>
        <% else %>
          <td><b><%= set_up.track.name %></b></td>
        <% end %>
        <% if set_up.laptime == @comparison_set_up.laptime %>
          <td><%= set_up.laptime %></td>
        <% else %>
          <td><b><%= set_up.laptime%></b></td>
        <% end %>
        <% if set_up.rider_weight == @comparison_set_up.rider_weight %>
          <td><%= set_up.rider_weight %></td>
        <% else %>
          <td><b><%= set_up.rider_weight %></b></td>
        <% end %>
        <% if set_up.bike.model == @comparison_set_up.bike.model %>
          <td><%= set_up.bike.model %></td>
        <% else %>
          <td><b><%= set_up.bike.model %></b></td>
        <% end %>
        <td><%= set_up.comment %></td>

        <% if set_up.subjective_rating == @comparison_set_up.subjective_rating %>
          <td><%= set_up.subjective_rating %></td>
        <% else %>
          <td><b><%= set_up.subjective_rating %></b></td>
        <% end %>
        <% if set_up.conditions == @comparison_set_up.conditions %>
          <td><%= set_up.conditions %></td>
        <% else %>
          <td><b><%= set_up.conditions %></b></td>
        <% end %>
        <% if set_up.track_temperature == @comparison_set_up.track_temperature %>
          <td><%= set_up.track_temperature %></td>
        <% else %>
          <td><b><%= set_up.track_temperature %></b></td>
        <% end %>
        <% if set_up.ambient_temperature == @comparison_set_up.ambient_temperature %>
          <td><%= set_up.ambient_temperature %></td>
        <% else %>
          <td><b><%= set_up.ambient_temperature %></b></td>
        <% end %>
        <% if set_up.rear_tire_pressure == @comparison_set_up.rear_tire_pressure %>
          <td><%= set_up.rear_tire_pressure %></td>
        <% else %>
          <td><b><%= set_up.rear_tire_pressure %></b></td>
        <% end %>
        <% if set_up.front_tire_pressure == @comparison_set_up.front_tire_pressure %>
          <td><%= set_up.front_tire_pressure %></td>
        <% else %>
          <td><b><%= set_up.front_tire_pressure %></b></td>
        <% end %>
        <% if set_up.rear_tire == @comparison_set_up.rear_tire %>
          <td><%= set_up.rear_tire %></td>
        <% else %>
          <td><b><%= set_up.rear_tire %></b></td>
        <% end %>
        <% if set_up.front_tire == @comparison_set_up.front_tire %>
          <td><%= set_up.front_tire %></td>
        <% else %>
          <td><b><%= set_up.front_tire %></b></td>
        <% end %>
        <% if set_up.steering_head_angle == @comparison_set_up.steering_head_angle %>
          <td><%= set_up.steering_head_angle %></td>
        <% else %>
          <td><b><%= set_up.steering_head_angle %></b></td>
        <% end %>
        <% if set_up.front_suspension_preload == @comparison_set_up.front_suspension_preload %>
          <td><%= set_up.front_suspension_preload %></td>
        <% else %>
          <td><b><%= set_up.front_suspension_preload %></b></td>
        <% end %>
        <% if set_up.front_suspension_compression == @comparison_set_up.front_suspension_compression %>
          <td><%= set_up.front_suspension_compression %></td>
        <% else %>
          <td><b><%= set_up.front_suspension_compression %></b></td>
        <% end %>
        <% if set_up.front_suspension_damping == @comparison_set_up.front_suspension_damping %>
          <td><%= set_up.front_suspension_damping %></td>
        <% else %>
          <td><b><%= set_up.front_suspension_damping %></b></td>
        <% end %>
        <% if set_up.front_suspension_spring_rate == @comparison_set_up.front_suspension_spring_rate %>
          <td><%= set_up.front_suspension_spring_rate %></td>
        <% else %>
          <td><b><%= set_up.front_suspension_spring_rate %></b></td>
        <% end %>
        <% if set_up.front_suspension_brand == @comparison_set_up.front_suspension_brand %>
          <td><%= set_up.front_suspension_brand %></td>
        <% else %>
          <td><b><%= set_up.front_suspension_brand %></b></td>
        <% end %>
        <% if set_up.rear_suspension_preload == @comparison_set_up.rear_suspension_preload %>
          <td><%= set_up.rear_suspension_preload %></td>
        <% else %>
          <td><b><%= set_up.rear_suspension_preload %></b></td>
        <% end %>
        <% if set_up.rear_suspension_compression == @comparison_set_up.rear_suspension_compression %>
          <td><%= set_up.rear_suspension_compression %></td>
        <% else %>
          <td><b><%= set_up.rear_suspension_compression %></b></td>
        <% end %>
        <% if set_up.rear_suspension_damping == @comparison_set_up.rear_suspension_damping %>
          <td><%= set_up.rear_suspension_damping %></td>
        <% else %>
          <td><b><%= set_up.rear_suspension_damping %></b></td>
        <% end %>
        <% if set_up.rear_suspension_spring_rate == @comparison_set_up.rear_suspension_spring_rate %>
          <td><%= set_up.rear_suspension_spring_rate %></td>
        <% else %>
          <td><b><%= set_up.rear_suspension_spring_rate %></b></td>
        <% end %>
        <% if set_up.rear_suspension_static_sag == @comparison_set_up.rear_suspension_static_sag %>
          <td><%= set_up.rear_suspension_static_sag %></td>
        <% else %>
          <td><b><%= set_up.rear_suspension_static_sag %></b></td>
        <% end %>
        <% if set_up.rear_suspension_sag == @comparison_set_up.rear_suspension_sag %>
          <td><%= set_up.rear_suspension_sag %></td>
        <% else %>
          <td><b><%= set_up.rear_suspension_sag %></b></td>
        <% end %>
        <% if set_up.rear_suspension_brand == @comparison_set_up.rear_suspension_brand %>
          <td><%= set_up.rear_suspension_brand %></td>
        <% else %>
          <td><b><%= set_up.rear_suspension_brand %></b></td>
        <% end %>
        <% @comparison_set_up = set_up %>
        <td>
          <a href="/set_ups/<%= set_up.id %>" class="btn btn-primary">Show</a>
          <a href="/set_ups/<%= set_up.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_set_up/<%= set_up.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<!-- Validation failure messages -->
<% if @set_up.errors.any? %>
  <% @set_up.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Set Up</h3>
</div>

<div class="row">
  <div class="col-md-12">
     <form action="/create_set_up" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for track_id -->
      <div class="form-group">
        <label for="track_id" class="control-label">
          Track
        </label>
         <%= select_tag(:track_id, options_from_collection_for_select(Track.all, :id, :name, @last_set_up.track_id), :class => "form-control") %>


        <!-- <input type="text" id="track_id" name="track_id" placeholder="Track" class="form-control" value="<%= @set_up.track_id %>"> -->
      </div>

      <!-- Label and input for laptime -->
      <div class="form-group">
        <label for="laptime" class="control-label">
          Laptime
        </label>

        <input type="text" id="laptime" name="laptime" placeholder="Laptime" class="form-control" value="<%= @last_set_up.laptime %>">
      </div>

      <!-- Label and input for rider_weight -->
      <div class="form-group">
        <label for="rider_weight" class="control-label">
          Rider weight
        </label>

        <input type="text" id="rider_weight" name="rider_weight" placeholder="Rider weight" class="form-control" value="<%= @last_set_up.rider_weight %>">
      </div>

      <!-- Label and input for bike_id -->
      <div class="form-group">
        <label for="bike_id" class="control-label">
          Bike
        </label>
        <%= select_tag(:bike_id, options_from_collection_for_select(current_user.bikes.all, :id, :model, @last_set_up.bike_id), :class => "form-control") %>

        <!-- <input type="text" id="bike_id" name="bike_id" placeholder="Bike" class="form-control" value="<%= @last_set_up.bike_id %>"> -->
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"><%= @last_set_up.comment %></textarea>
      </div>

      <!-- Label and input for subjective_rating -->
      <div class="form-group">
        <label for="subjective_rating" class="control-label">
          Subjective rating
        </label>

        <input type="text" id="subjective_rating" name="subjective_rating" placeholder="Subjective rating" class="form-control" value="<%= @last_set_up.subjective_rating %>">
      </div>

      <!-- Label and input for conditions -->
      <div class="form-group">
        <label for="conditions" class="control-label">
          Conditions
        </label>

        <input type="text" id="conditions" name="conditions" placeholder="Conditions" class="form-control" value="<%= @last_set_up.conditions %>">
      </div>

      <!-- Label and input for track_temperature -->
      <div class="form-group">
        <label for="track_temperature" class="control-label">
          Track temperature
        </label>

        <input type="text" id="track_temperature" name="track_temperature" placeholder="Track temperature" class="form-control" value="<%= @last_set_up.track_temperature %>">
      </div>

      <!-- Label and input for ambient_temperature -->
      <div class="form-group">
        <label for="ambient_temperature" class="control-label">
          Ambient temperature
        </label>

        <input type="text" id="ambient_temperature" name="ambient_temperature" placeholder="Ambient temperature" class="form-control" value="<%= @last_set_up.ambient_temperature %>">
      </div>

      <!-- Label and input for rear_tire_pressure -->
      <div class="form-group">
        <label for="rear_tire_pressure" class="control-label">
          Rear tire pressure
        </label>

        <input type="text" id="rear_tire_pressure" name="rear_tire_pressure" placeholder="Rear tire pressure" class="form-control" value="<%= @last_set_up.rear_tire_pressure %>">
      </div>

      <!-- Label and input for front_tire_pressure -->
      <div class="form-group">
        <label for="front_tire_pressure" class="control-label">
          Front tire pressure
        </label>

        <input type="text" id="front_tire_pressure" name="front_tire_pressure" placeholder="Front tire pressure" class="form-control" value="<%= @last_set_up.front_tire_pressure %>">
      </div>

      <!-- Label and input for rear_tire -->
      <div class="form-group">
        <label for="rear_tire" class="control-label">
          Rear tire
        </label>

        <input type="text" id="rear_tire" name="rear_tire" placeholder="Rear tire" class="form-control" value="<%= @last_set_up.rear_tire %>">
      </div>

      <!-- Label and input for front_tire -->
      <div class="form-group">
        <label for="front_tire" class="control-label">
          Front tire
        </label>

        <input type="text" id="front_tire" name="front_tire" placeholder="Front tire" class="form-control" value="<%= @last_set_up.front_tire %>">
      </div>

      <!-- Label and input for steering_head_angle -->
      <div class="form-group">
        <label for="steering_head_angle" class="control-label">
          Steering head angle
        </label>

        <input type="text" id="steering_head_angle" name="steering_head_angle" placeholder="Steering head angle" class="form-control" value="<%= @last_set_up.steering_head_angle %>">
      </div>

      <!-- Label and input for front_suspension_preload -->
      <div class="form-group">
        <label for="front_suspension_preload" class="control-label">
          Front suspension preload
        </label>

        <input type="text" id="front_suspension_preload" name="front_suspension_preload" placeholder="Front suspension preload" class="form-control" value="<%= @last_set_up.front_suspension_preload %>">
      </div>

      <!-- Label and input for front_suspension_compression -->
      <div class="form-group">
        <label for="front_suspension_compression" class="control-label">
          Front suspension compression
        </label>

        <input type="text" id="front_suspension_compression" name="front_suspension_compression" placeholder="Front suspension compression" class="form-control" value="<%= @last_set_up.front_suspension_compression %>">
      </div>

      <!-- Label and input for front_suspension_damping -->
      <div class="form-group">
        <label for="front_suspension_damping" class="control-label">
          Front suspension damping
        </label>

        <input type="text" id="front_suspension_damping" name="front_suspension_damping" placeholder="Front suspension damping" class="form-control" value="<%= @last_set_up.front_suspension_damping %>">
      </div>

      <!-- Label and input for front_suspension_spring_rate -->
      <div class="form-group">
        <label for="front_suspension_spring_rate" class="control-label">
          Front suspension spring rate
        </label>

        <input type="text" id="front_suspension_spring_rate" name="front_suspension_spring_rate" placeholder="Front suspension spring rate" class="form-control" value="<%= @last_set_up.front_suspension_spring_rate %>">
      </div>

      <!-- Label and input for front_suspension_brand -->
      <div class="form-group">
        <label for="front_suspension_brand" class="control-label">
          Front suspension brand
        </label>

        <input type="text" id="front_suspension_brand" name="front_suspension_brand" placeholder="Front suspension brand" class="form-control" value="<%= @last_set_up.front_suspension_brand %>">
      </div>

      <!-- Label and input for rear_suspension_preload -->
      <div class="form-group">
        <label for="rear_suspension_preload" class="control-label">
          Rear suspension preload
        </label>

        <input type="text" id="rear_suspension_preload" name="rear_suspension_preload" placeholder="Rear suspension preload" class="form-control" value="<%= @last_set_up.rear_suspension_preload %>">
      </div>

      <!-- Label and input for rear_suspension_compression -->
      <div class="form-group">
        <label for="rear_suspension_compression" class="control-label">
          Rear suspension compression
        </label>

        <input type="text" id="rear_suspension_compression" name="rear_suspension_compression" placeholder="Rear suspension compression" class="form-control" value="<%= @last_set_up.rear_suspension_compression %>">
      </div>

      <!-- Label and input for rear_suspension_damping -->
      <div class="form-group">
        <label for="rear_suspension_damping" class="control-label">
          Rear suspension damping
        </label>

        <input type="text" id="rear_suspension_damping" name="rear_suspension_damping" placeholder="Rear suspension damping" class="form-control" value="<%= @last_set_up.rear_suspension_damping %>">
      </div>

      <!-- Label and input for rear_suspension_spring_rate -->
      <div class="form-group">
        <label for="rear_suspension_spring_rate" class="control-label">
          Rear suspension spring rate
        </label>

        <input type="text" id="rear_suspension_spring_rate" name="rear_suspension_spring_rate" placeholder="Rear suspension spring rate" class="form-control" value="<%= @last_set_up.rear_suspension_spring_rate %>">
      </div>

      <!-- Label and input for rear_suspension_static_sag -->
      <div class="form-group">
        <label for="rear_suspension_static_sag" class="control-label">
          Rear suspension static sag
        </label>

        <input type="text" id="rear_suspension_static_sag" name="rear_suspension_static_sag" placeholder="Rear suspension static sag" class="form-control" value="<%= @last_set_up.rear_suspension_static_sag %>">
      </div>

      <!-- Label and input for rear_suspension_sag -->
      <div class="form-group">
        <label for="rear_suspension_sag" class="control-label">
          Rear suspension sag
        </label>

        <input type="text" id="rear_suspension_sag" name="rear_suspension_sag" placeholder="Rear suspension sag" class="form-control" value="<%= @last_set_up.rear_suspension_sag %>">
      </div>

      <!-- Label and input for rear_suspension_brand -->
      <div class="form-group">
        <label for="rear_suspension_brand" class="control-label">
          Rear suspension brand
        </label>

        <input type="text" id="rear_suspension_brand" name="rear_suspension_brand" placeholder="Rear suspension brand" class="form-control" value="<%= @last_set_up.rear_suspension_brand %>">
      </div>

      <button class="btn btn-warning">
        Save Set Up
      </button>
      or
      <a href="/set_ups/<%= @set_up.id %>">Cancel</a>
    </form>
  </div>
</div>
