<!-- Validation failure messages -->
<% if @set_up.errors.any? %>
  <% @set_up.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Set Up</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_set_up" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for track_id -->
      <div class="form-group">
        <label for="track_id" class="control-label">
          Track
        </label>
        <%= select_tag(:track_id, options_from_collection_for_select(Track.all, :id, :name, @set_up.track_id), :class => "form-control") %>

        <!-- <input type="text" id="track_id" name="track_id" placeholder="Track" class="form-control" value="<%= @set_up.track_id %>"> -->
      </div>

      <!-- Label and input for bike_id -->
      <div class="form-group">
        <label for="bike_id" class="control-label">
          Bike
        </label>
        <%= select_tag(:bike_id, options_from_collection_for_select(current_user.bikes.all, :id, :model, @set_up.bike_id), :class => "form-control") %>

      <!--   <input type="text" id="bike_id" name="bike_id" placeholder="Bike" class="form-control" value="<%= @set_up.bike_id %>"> -->
      </div>

      <!-- Label and input for conditions -->
      <div class="form-group">
        <label for="conditions" class="control-label">
          Conditions
        </label>
        <input type="text" id="conditions" name="conditions" placeholder="Conditions" class="form-control" value="<%= @set_up.conditions %>">
      </div>

      <!-- Label and input for laptime -->
      <div class="form-group">
        <label for="laptime" class="control-label">
          Laptime
        </label>

        <input type="text" id="laptime" name="laptime" placeholder="Laptime" class="form-control" value="<%= @set_up.laptime %>">
      </div>

      <!-- Label and input for rider_weight -->
      <div class="form-group">
        <label for="rider_weight" class="control-label">
          Rider weight
        </label>

        <input type="text" id="rider_weight" name="rider_weight" placeholder="Rider weight" class="form-control" value="<%= @set_up.rider_weight %>">
      </div>



      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"><%= @set_up.comment %></textarea>
      </div>

      <!-- Label and input for subjective_rating -->
      <div class="form-group">
        <label for="subjective_rating" class="control-label">
          Subjective rating
        </label>

        <input type="text" id="subjective_rating" name="subjective_rating" placeholder="Subjective rating" class="form-control" value="<%= @set_up.subjective_rating %>">
      </div>



      <!-- Label and input for track_temperature -->
      <div class="form-group">
        <label for="track_temperature" class="control-label">
          Track temperature
        </label>

        <input type="text" id="track_temperature" name="track_temperature" placeholder="Track temperature" class="form-control" value="<%= @set_up.track_temperature %>">
      </div>

      <!-- Label and input for ambient_temperature -->
      <div class="form-group">
        <label for="ambient_temperature" class="control-label">
          Ambient temperature
        </label>

        <input type="text" id="ambient_temperature" name="ambient_temperature" placeholder="Ambient temperature" class="form-control" value="<%= @set_up.ambient_temperature %>">
      </div>

      <!-- Label and input for rear_tire_pressure -->
      <div class="form-group">
        <label for="rear_tire_pressure" class="control-label">
          Rear tire pressure
        </label>

        <input type="text" id="rear_tire_pressure" name="rear_tire_pressure" placeholder="Rear tire pressure" class="form-control" value="<%= @set_up.rear_tire_pressure %>">
      </div>

      <!-- Label and input for front_tire_pressure -->
      <div class="form-group">
        <label for="front_tire_pressure" class="control-label">
          Front tire pressure
        </label>

        <input type="text" id="front_tire_pressure" name="front_tire_pressure" placeholder="Front tire pressure" class="form-control" value="<%= @set_up.front_tire_pressure %>">
      </div>

      <!-- Label and input for rear_tire -->
      <div class="form-group">
        <label for="rear_tire" class="control-label">
          Rear tire
        </label>

        <input type="text" id="rear_tire" name="rear_tire" placeholder="Rear tire" class="form-control" value="<%= @set_up.rear_tire %>">
      </div>

      <!-- Label and input for front_tire -->
      <div class="form-group">
        <label for="front_tire" class="control-label">
          Front tire
        </label>

        <input type="text" id="front_tire" name="front_tire" placeholder="Front tire" class="form-control" value="<%= @set_up.front_tire %>">
      </div>

      <!-- Label and input for steering_head_angle -->
      <div class="form-group">
        <label for="steering_head_angle" class="control-label">
          Steering head angle
        </label>

        <input type="text" id="steering_head_angle" name="steering_head_angle" placeholder="Steering head angle" class="form-control" value="<%= @set_up.steering_head_angle %>">
      </div>

      <!-- Label and input for front_suspension_preload -->
      <div class="form-group">
        <label for="front_suspension_preload" class="control-label">
          Front suspension preload
        </label>

        <input type="text" id="front_suspension_preload" name="front_suspension_preload" placeholder="Front suspension preload" class="form-control" value="<%= @set_up.front_suspension_preload %>">
      </div>

      <!-- Label and input for front_suspension_compression -->
      <div class="form-group">
        <label for="front_suspension_compression" class="control-label">
          Front suspension compression
        </label>

        <input type="text" id="front_suspension_compression" name="front_suspension_compression" placeholder="Front suspension compression" class="form-control" value="<%= @set_up.front_suspension_compression %>">
      </div>

      <!-- Label and input for front_suspension_damping -->
      <div class="form-group">
        <label for="front_suspension_damping" class="control-label">
          Front suspension damping
        </label>

        <input type="text" id="front_suspension_damping" name="front_suspension_damping" placeholder="Front suspension damping" class="form-control" value="<%= @set_up.front_suspension_damping %>">
      </div>

      <!-- Label and input for front_suspension_spring_rate -->
      <div class="form-group">
        <label for="front_suspension_spring_rate" class="control-label">
          Front suspension spring rate
        </label>

        <input type="text" id="front_suspension_spring_rate" name="front_suspension_spring_rate" placeholder="Front suspension spring rate" class="form-control" value="<%= @set_up.front_suspension_spring_rate %>">
      </div>

      <!-- Label and input for front_suspension_brand -->
      <div class="form-group">
        <label for="front_suspension_brand" class="control-label">
          Front suspension brand
        </label>

        <input type="text" id="front_suspension_brand" name="front_suspension_brand" placeholder="Front suspension brand" class="form-control" value="<%= @set_up.front_suspension_brand %>">
      </div>

      <!-- Label and input for rear_suspension_preload -->
      <div class="form-group">
        <label for="rear_suspension_preload" class="control-label">
          Rear suspension preload
        </label>

        <input type="text" id="rear_suspension_preload" name="rear_suspension_preload" placeholder="Rear suspension preload" class="form-control" value="<%= @set_up.rear_suspension_preload %>">
      </div>

      <!-- Label and input for rear_suspension_compression -->
      <div class="form-group">
        <label for="rear_suspension_compression" class="control-label">
          Rear suspension compression
        </label>

        <input type="text" id="rear_suspension_compression" name="rear_suspension_compression" placeholder="Rear suspension compression" class="form-control" value="<%= @set_up.rear_suspension_compression %>">
      </div>

      <!-- Label and input for rear_suspension_damping -->
      <div class="form-group">
        <label for="rear_suspension_damping" class="control-label">
          Rear suspension damping
        </label>

        <input type="text" id="rear_suspension_damping" name="rear_suspension_damping" placeholder="Rear suspension damping" class="form-control" value="<%= @set_up.rear_suspension_damping %>">
      </div>

      <!-- Label and input for rear_suspension_spring_rate -->
      <div class="form-group">
        <label for="rear_suspension_spring_rate" class="control-label">
          Rear suspension spring rate
        </label>

        <input type="text" id="rear_suspension_spring_rate" name="rear_suspension_spring_rate" placeholder="Rear suspension spring rate" class="form-control" value="<%= @set_up.rear_suspension_spring_rate %>">
      </div>

      <!-- Label and input for rear_suspension_static_sag -->
      <div class="form-group">
        <label for="rear_suspension_static_sag" class="control-label">
          Rear suspension static sag
        </label>

        <input type="text" id="rear_suspension_static_sag" name="rear_suspension_static_sag" placeholder="Rear suspension static sag" class="form-control" value="<%= @set_up.rear_suspension_static_sag %>">
      </div>

      <!-- Label and input for rear_suspension_sag -->
      <div class="form-group">
        <label for="rear_suspension_sag" class="control-label">
          Rear suspension sag
        </label>

        <input type="text" id="rear_suspension_sag" name="rear_suspension_sag" placeholder="Rear suspension sag" class="form-control" value="<%= @set_up.rear_suspension_sag %>">
      </div>

      <!-- Label and input for rear_suspension_brand -->
      <div class="form-group">
        <label for="rear_suspension_brand" class="control-label">
          Rear suspension brand
        </label>

        <input type="text" id="rear_suspension_brand" name="rear_suspension_brand" placeholder="Rear suspension brand" class="form-control" value="<%= @set_up.rear_suspension_brand %>">
      </div>

      <button class="btn btn-success">
        Create Set Up
      </button>
      or
      <a href="/set_ups">Cancel</a>
    </form>
  </div>
</div>
