<div class="page-header">
  <h3>Bike #<%= @bike.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @bike.user_id %></dd>

      <dt>Year</dt>
      <dd><%= @bike.year %></dd>

      <dt>Model</dt>
      <dd><%= @bike.model %></dd>

      <dt>Manufacturer</dt>
      <dd><%= @bike.manufacturer %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bikes" class="btn btn-primary">
        Back
      </a>
      <a href="/bikes/<%= @bike.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bike/<%= @bike.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
